.noidung{
    display: flex;
}
.noidung .skill{
    background-color: white;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 100px;
}
.noidung .info{
    background-color: #efefef;
    padding-right: 0;
    padding-top: 80px;
    padding-left: 50px;

}
.noidung .icon{
    color: #3498DC;
    font-size: 30px;
}
body{
    background-color: #D8D8D8;
}
.noidung .skill .cv{
    color: #28B667;
}
.noidung .info .into p{
    padding-top: 15px;
}
.noidung .info .row .col-sm-4 p{
    padding-top: 15px;
}
.noidung .info .row .col-sm-8 p{
    padding-top: 15px;

}
.noidung .info .row .col-sm-8{
    padding-left: 0;
}
.noidung .info .row .col-sm-4{
    padding-left: 32px;
}
.noidung .info h4{
    padding-left: 18px;
}
.kynang .hd{
    display: flex;
    color: white;
}
.kynang .time{
    background-color: #9B59B6;
}
.kynang .pr{
    background-color: #3498DB;
}
.kynang .hd .pr{
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;

}
.kynang .hd .pr .xanh{
    text-align: center;
}
.kynang .hd .pr .xanh a{
background: #49A3DF;
    border: 0;
    border-radius: 0;
    font-size: 11px;
    width: 55px;
    height: 35px;
    padding-top: 10px;
}
.kynang .hd .pr  a:hover{
    margin-top: 1px;
    border-bottom-width: 3px;
}
.kynang .hd .pr .xanh p{
    font-size: 13px;
}
.kynang .hd .time{
    padding-top: 80px;

}
.kynang .hd .time .time1 h3{
    margin-top: -8px;
    margin-bottom: 0px;
    font-size: 20px;
}
.kynang .hd .time .time1 p{
    font-size: 13px;
}
.kynang .hd .time .time1{
    padding-top: 20px;
}
.kynang .hd .time{
    padding-left: 40px;
}
.kynang{
    padding-bottom: 50px;
}